src/noderedforhackerspaceplantsensor
[{"id":"12662616.2c49da","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"44d2cb2.dd203b4","type":"function","z":"12662616.2c49da","name":"Convert to GPS-json","func":"var msg1 = {};\n\nif (msg.payload.result) {\n\n    msg1.payload = msg.payload;\n    msg1.payload.date = Date().toString();\n    msg1.payload.lon = msg.payload.result.longitude;\n    msg1.payload.lat = msg.payload.result.latitude;\n\n    // processed with LoRaCLOUD\n    if (msg.payload.result) {\n        msg1.payload.radius = msg.payload.result.accuracy;\n        delete msg1.payload.result.accuracy;\n    }\n    msg1.payload.name=\"hackerspace\"\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["dd9141a6.9f6948"]]},{"id":"dd9141a6.9f6948","type":"function","z":"12662616.2c49da","name":"","func":"\nnewmsg = {};\nnewmsg.payload = { data: {'gps': [msg.payload.lat,msg.payload.lon] } };\nreturn newmsg;\n","outputs":1,"noerr":0,"x":299,"y":223,"wires":[["72022d17.b14d4c"]]},{"id":"44051c2e.23be0c","type":"json","z":"12662616.2c49da","name":"Convert to JSON","pretty":false,"x":284,"y":155,"wires":[["44d2cb2.dd203b4"]]},{"id":"72022d17.b14d4c","type":"api-call-service","z":"12662616.2c49da","name":"Location plantsensor hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"plantsensorhackerspace\",\"location_name\":\"Arhome\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":849,"y":223,"wires":[[]]},{"id":"f6d9a290.e4101","type":"http request","z":"12662616.2c49da","name":"","method":"use","ret":"txt","url":"","tls":"","x":639,"y":83,"wires":[["44051c2e.23be0c"]]},{"id":"d0f9f053.e16b3","type":"function","z":"12662616.2c49da","name":"LoRaCLOUD API V2 LoRa location","func":"var loracloud_token = \"YOURLORACLOUDTOKEN\"\nvar dev_url = \"https://gls.loracloud.com/api/v2/loraWifi\";\n\nvar data = {\n            \"lorawan\":[],\n            \"wifiAccessPoints\":[]\n            };\n\nif (msg.payload.metadata.gateways[0]) {\n\tdata[\"lorawan\"][0] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[0].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[0].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[0].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[0].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[0].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[0].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[0].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[0].altitude,\n\t\t\t\t\n\t\t\t\t    \n\t\t\t\t}\n};\n}\n\nif (msg.payload.metadata.gateways[1]) {\n\tdata[\"lorawan\"][1] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[1].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[1].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[1].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[1].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[1].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[1].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[1].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[1].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\nif (msg.payload.metadata.gateways[2]) {\n\tdata[\"lorawan\"][2] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[2].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[2].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[2].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[2].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[2].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[2].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[2].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[2].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\nif (msg.payload.metadata.gateways[3]) {\n\tdata[\"lorawan\"][3] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[3].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[3].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[3].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[3].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[3].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[3].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[3].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[3].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\n\n\nvar msg = {\n            \"method\" : \"POST\",\n            \"url\" : dev_url,\n            \"headers\" : {\n                \"Ocp-Apim-Subscription-Key\" : loracloud_token,\n                \"Content-Type\": \"application/json\",\n            },\n            \"payload\" : JSON.stringify(data)\n            };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":389,"y":83,"wires":[["f6d9a290.e4101"]]},{"id":"608ddc8b.4bfbe4","type":"mqtt in","z":"12662616.2c49da","name":"Plantsensor Hackerspace","topic":"lorakiss/devices/plantsensor/up","qos":"2","datatype":"json","broker":"7a365e82.d2cc08","x":99,"y":83,"wires":[["d0f9f053.e16b3","f3e65523.003318","545e12a7.b640ac","92bbb0a0.fcf25"]]},{"id":"f3e65523.003318","type":"function","z":"12662616.2c49da","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.analog_out_3\n            };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":283,"wires":[["21254645.fc9c82"]]},{"id":"545e12a7.b640ac","type":"function","z":"12662616.2c49da","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.relative_humidity_1\n            };\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":343,"wires":[["cff055df.98fd88"]]},{"id":"92bbb0a0.fcf25","type":"function","z":"12662616.2c49da","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.temperature_0\n            };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":403,"wires":[["fd4d0bed.d88a"]]},{"id":"21254645.fc9c82","type":"ha-entity","z":"12662616.2c49da","name":"soilmoisture hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"soilmoisture"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"% water"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":819,"y":283,"wires":[[]]},{"id":"cff055df.98fd88","type":"ha-entity","z":"12662616.2c49da","name":"Humidity slaapkamer","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"humidity"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":809,"y":343,"wires":[[]]},{"id":"fd4d0bed.d88a","type":"ha-entity","z":"12662616.2c49da","name":"Temperature slaapkamer","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"T"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":819,"y":403,"wires":[[]]},{"id":"9decc04a.babdd","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"7a365e82.d2cc08","type":"mqtt-broker","z":"","name":"Plantsensor Hackerspace","broker":"mqtt://eu.thethings.network","port":"1990","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
